<div class="panel panel-default">
  <div class="panel-heading">
    <h1>New profile</h1>
  </div>


  <div class="panel-body center padding-50">
    <h4>Add your profile to GameBuddy to start finding new friends</h4>
    <p>Maybe add a picture background here</p>
    <br />

      <!-- Button trigger PSN modal -->
      <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalPSN">
        <span class="glyphicon glyphicon-plus"></span> Add PSN Profile 
      </button>

      <!-- Button trigger XBL modal -->
      <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalXBL">
        <span class="glyphicon glyphicon-plus"></span> Add Xbox Live Profile
      </button>

      <!-- Button trigger XBL modal -->
      <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalSTM">
        <span class="glyphicon glyphicon-plus"></span> Add Steam Profile
      </button>
  </div>

  <!-- Modal PSN -->
  <div class="modal fade" id="myModalPSN" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h2 class="modal-title" id="myModalLabel">Add your Playstation Network profile</h2>
        </div>
        <div class="modal-body">
          <%= render 'formPSN' %> 
        </div>
        
      </div>
    </div>
  </div>

  <!-- Modal XBL -->
  <div class="modal fade" id="myModalXBL" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h2 class="modal-title" id="myModalLabel">Add your Xbox Live profile</h2>
        </div>
        <div class="modal-body">
          <%= render 'formXBL' %> 
        </div>
        
      </div>
    </div>
  </div>

  <!-- Modal STM -->
  <div class="modal fade" id="myModalSTM" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h2 class="modal-title" id="myModalLabel">Add your Steam profile</h2>
        </div>
        <div class="modal-body">
          <%= render 'formSTM' %> 
        </div>
        
      </div>
    </div>
  </div>

  <div class="panel-footer">
  <%= link_to 'Back', profiles_path %>
  </div>
</div>