<h1>New profile</h1>

<div class="container-fluid">
  <div class="row center ">
    <div class="col-xs-4 panel panel-defaults">
      <%= render 'formXBL' %> 
    </div>
    <div class="col-xs-4 panel panel-default">
      <%= render 'formPSN' %> 
    </div>
    <div class="col-xs-4 panel panel-default">
      <%= render 'formSTM' %> 
    </div>
  </div>
</div>
<%= link_to 'Back', profiles_path %>
