<div class="jumbotron">
  <h1>Make new online gaming friends!</h1>
  <div class="lower-link">
    <%= link_to "Get Started Here", "#", class: "btn btn-lg btn-primary" %>
  </div>
</div>


<p>
  <%= link_to "about", about_path %>
  <%= link_to "terms", terms_path %>
</p>